body
{
  box-sizing: border-box;
  background-color: black;
}

.red
{
  width: 100px;
  height: 100px;
  background-color: red;
}

.green
{
  width: 80px;
  height: 80px;
  background-color: green;
}

.blue
{
  width: 60px;
  height: 60px;
  background-color: blue;
}

.yellow
{
  width: 40px;
  height: 40px;
  background-color: yellow;
}

.exercise-1,
.exercise-2,
.exercise-3,
.exercise-4
{
      position: relative; /* Set item postion relative to normal flow of the document */

}

.exercise-1 div,
.exercise-2 div,
.exercise-3 div,
.exercise-4 div
{
       position: absolute; /* remove element from normal document flow(no space created for elements)  will be postioning with top,left,right and bottom property */
}

/* Exercise 2 */

.exercise-2
{
     top: 120px; /*  postion exercise-2 div  120 from top of document make it showed and reserve space*/

}

.exercise-2 .green,
.exercise-2 .blue,
.exercise-2 .yellow
{
  /*  add 10px top and lef to center  green ,blue and yellow boxes inside red box exercise-2*/
    top: 10px; 
    left: 10px;

}

/* Exercise 3 */

.exercise-3
{
    top: 240px;
}


.exercise-3 .green
{

}

.exercise-3 .blue,
.exercise-3 .yellow
{

}

/* Exercise 4 */

.exercise-4
{

}

.exercise-4 .blue
{

}

.exercise-4 .yellow
{

}